.single__page {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: clamp(32px, 4.1666666667vw, 80px);
  width: 80vw;
  min-height: calc(100vh - 112px - calc((clamp(32px, 2.5vw, 48px) * 2 + clamp(64px, 4.1666666667vw, 80px)) * 1.75));
  padding: calc(clamp(32px, 2.5vw, 48px) * 2 + clamp(64px, 4.1666666667vw, 80px)) 10vw 0;

  font-family: $fonts;

  background: $black;
  color: $white;

  .work__link {
    pointer-events: none;
  }
}

.single__page .work {
  width: 100%;
  margin: 0 auto;
}

.single__work__about__content {
  font-size: clamp(24px, 1.5vw, 32px);
  line-height: 1.5em;
  margin-bottom: 1em;
}

.single__work__about__link {
  font-size: clamp(24px, 1.5vw, 32px);
  text-decoration: underline;

  &:hover {
    color: $accent;
  }
}

.single__other {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  margin-top: clamp(32px, 3.333vw, 64px);
}

.single__other__next {
  position: relative;
  width: 10vw;

  &:hover {
    .single__other__next__image {
      opacity: 1;
    }

    .single__other__next__link {
      opacity: 0;
      width: 150%;
      aspect-ratio: 1920/1080;
      transform: rotate(-10deg) translate(-25%, -35%);
    }
  }
}

.single__other__next__link {
  position: absolute;
  z-index: 2;

  font-size: clamp(16px, 1.5vw, 32px);
}

.single__other__next__image {
  transition: 200ms;
  opacity: 0;
  position: absolute;
  width: 150%;
  transform: rotate(10deg) translate(-25%, -35%);

  z-index: 0;

  border-radius: .5em;
}

.single__other__previous {
  position: relative;
  width: 10vw;

  &:hover {
    .single__other__previous__image {
      opacity: 1;
    }

    .single__other__previous__link {
      opacity: 0;
      width: 150%;
      aspect-ratio: 1920/1080;
      transform: rotate(-10deg) translate(-25%, -35%);
    }
  }
}

.single__other__previous__link {
  position: absolute;
  z-index: 2;

  font-size: clamp(16px, 1.5vw, 32px);
}

.single__other__previous__image {
  transition: 200ms;
  opacity: 0;
  position: absolute;
  width: 150%;
  transform: rotate(-10deg) translate(-25%, -35%);
  z-index: 0;

  border-radius: .5em;
}

@media screen and (min-width: 800px) {
  .single__page {
    grid-template-columns: repeat(2, 1fr);
  }

}