/*
.body {
  position: relative;
  display: grid;
  background: $black;
  z-index: -10;
  height: 1000vh;
}

@media screen and (min-width: 700px) and (min-height: 600px) {
  .body {
    width: 100vw;
    grid-template-columns: 65% 35%;
  }
}

#js {
  .home__main, .home__introduction, .home__introduction * {
    animation: none;
  }
}*/

html {
  scroll-behavior: smooth;
}

body {
  background: $black;
}


#js {
  .home__introduction {
    .home__introduction__text1, .home__introduction__text2, .home__introduction__text3 {
      animation: none;
    }
  }

  .blog {
    background: $white;

    :where(.container) {
      margin-top: 500vh;
    }
  }
}


@media screen and (min-width: 700px) {

  #js {
    .container {
      display: grid;
      min-height: 100vh;
      margin-top: 0;
    }

    .blog {
      position: relative;
      grid-template-columns: max-content max-content;
      width: 100vw;
      height: 1000vh;

      .container {
        min-height: 100vh;
        position: fixed;
        z-index: 100;
        width: max-content;
        display: flex;
      }
    }
  }

}
