html {
  scroll-behavior: smooth;
}

body {
  background: $black;
}

#js {
  .blog {
    background: $white;

    :where(.container) {
      margin-top: 500vh;
    }
  }
}

@media screen and (min-width: 700px) {

  #js {

    .blog {
      position: relative;
      grid-template-columns: max-content max-content;
      width: 100vw;
      height: 1000vh;

      .container {
        position: fixed;
        width: max-content;
        display: flex;
      }
    }
  }

}
