@import "settings";
@import "reset";
@import "elements";
@import "utilities";
@import "objects/objects";
@import "components/components";

* {
  :focus:not(:focus-visible) {
    outline: none;
    border: none;
  }

  :focus-visible {
    border: 1px solid $accent;
    outline: 1px solid $accent;
    box-shadow: $accent 0 0 10px;
  }
}