// Fonts //

$fonts: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;

// Colors //

$black: #000;
$white: #FFF;
$header-bg: rgba(0, 0, 0, 0.8);
$accent: #D88C23;

// Paths //

$images: 'https://portfolio.test/wp-content/themes/portfolio/assets/images/'