.about {
  width: 100vw;
  min-height: calc(100vh - 112px - calc((clamp(32px, 2.5vw, 48px) + clamp(64px, 4.1666666667vw, 80px)) * 1.5));
  background: $black;
}

.about__main {
  width: 80vw;
  margin: 0 auto;
  padding-top: calc(clamp(32px, 2.5vw, 48px) * 1.5 + clamp(64px, 4.1666666667vw, 80px));

  font-family: $fonts;

  color: $white;
}

.about__main__title {
  display: flex;
  align-items: center;

  font-size: clamp(24px, 3.333vw, 64px);

  &:before {
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-right: .2em;

    background: url($images + 'animoji_face.png') no-repeat center;
    background-size: contain;
  }
}

.about__main__text, .about__main__contact {
  margin-top: clamp(24px, 3.333vw, 64px);

  font-size: clamp(16px, 2.5vw, 48px);
  line-height: 1.333;

  > * {
    margin: 1em 0;
  }
}

.about__main__contact__link {
  font-size: clamp(24px, 4.1666666667vw, 80px);
}

.about__main__contact__asterisk {
  margin-bottom: 0;

  font-size: clamp(12px, 1.6666666667vw, 32px);
  text-align: right;
}

@media screen and (min-width: 600px) {
  .about {
    min-height: calc(100vh - 64px - calc((clamp(32px, 2.5vw, 48px) + clamp(64px, 4.1666666667vw, 80px)) * 1.5));
  }
}