.legal {
  display: grid;
  gap: 10vh;
  padding-top: calc(clamp(32px, 2.5vw, 48px) * 2 + clamp(64px, 4.1666666667vw, 80px));
  width: 80vw;
  margin: 0 auto;

  font-family: $fonts;

  color: $white;
}

.legal__title {
  font-size: clamp(32px, 3.333vw, 64px);
}

.legal__1__title, .legal__2__title {
  font-size: clamp(24px, 2.0833333333vw, 40px);
}

.legal__1__content, .legal__2__content {
  margin-top: 2.5vh;
  font-size: clamp(16px, 1.125vw, 24px);
  line-height: 1.5em;
}