.footer {
  align-self: end;
  display: grid;
  height: max-content;

  font-family: $fonts;

  background: $black;
  color: $white;
}

.footer__nav {
  align-self: center;
}

.footer__nav__item {
  font-size: clamp(16px, 1.666667vw, 32px);
}

.footer__nav__container {
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vh;

  a {
    text-decoration: underline;

    &:hover {
      color: $accent;
    }
  }
}


@media screen and (min-width: 700px) {

  .footer__nav__container {
    flex-direction: row;
  }

  #js {
    .blog {
      .footer {
        height: 100vh;

        .footer__nav__container {
          padding: 0 10vw;
          flex-direction: column;
          height: 60vh;
        }
      }
    }
  }
}