/*
@media screen and (min-width: 700px) and (min-height: 600px) {

  .footer {
    position: relative;
    display: grid;
    align-self: end;
    justify-self: start;
    height: 100vh;
    min-width: 30vw;
    z-index: 5;
    font-family: $fonts;

    background: $black;
    color: $white;
  }

  .footer__nav {
    align-self: center;
  }

  .footer__nav__container {
    padding: 0 clamp(0px, 3vw, 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;

    a {
      text-decoration: underline;

      &:hover {
        color: $accent;
      }
    }
  }
}*/

.footer {
  font-family: $fonts;
  align-self: end;
  display: grid;

  background: $black;
  color: $white;
  height: max-content;
}

.footer__nav {
  align-self: center;
}

.footer__nav__container {
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vh;

  a {
    text-decoration: underline;

    &:hover {
      color: $accent;
    }
  }
}


@media screen and (min-width: 700px) {

  .footer__nav__container {
    flex-direction: row;
  }
  #js {
    .blog {
      .footer {
        height: 100vh;

        .footer__nav__container {
          padding: 0 10vw;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 60vh;


        }
      }
    }
  }
}
