.header {
  position: fixed;
  left: 0;
  right: 0;
  width: clamp(calc(320px - clamp(14px, 1.25vw, 24px) * 4), 70vw, 1152px);
  margin: clamp(32px, 2.5vw, 48px) auto 0 auto;

  padding: 0 calc(clamp(14px, 1.25vw, 24px) * 2);
  z-index: 10;

  background: $header-bg;
  border-radius: .5em;
}

.header__nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: clamp(64px, 4.1666666667vw, 80px);
}

.header__nav__item {
  font-family: $fonts;
  font-size: clamp(14px, 1.25vw, 24px);
}

.header__nav__item__link {
  color: $white;

  &:hover {
    color: $accent;
  }
}

.item__home, .item__github, .item__twitter {
  width: 1.2em;
  aspect-ratio: 1/1;

  overflow: hidden;
}

.link__home, .link__github, .link__twitter {
  display: block;
  width: 1em;
  aspect-ratio: 1/1;
  color: transparent;

  &:hover {
    color: transparent;
  }
}

.item__home {
  background: url($images + 'flower_logo.png') no-repeat center;
  background-size: contain;

  &:hover {
    background: url($images + 'flower_logo_hover.png') no-repeat center;
    background-size: contain;
  }
}

.item__github {
  background: url($images + 'github_logo.png') no-repeat center;
  background-size: contain;

  &:hover {
    background: url($images + 'github_logo_hover.png') no-repeat center;
    background-size: contain;
  }
}

.item__twitter {
  background: url($images + 'twitter_logo.png') no-repeat center;
  background-size: contain;

  &:hover {
    background: url($images + 'twitter_logo_hover.png') no-repeat center;
    background-size: contain;
  }
}
