.work {
  position: relative;

  font-family: $fonts;
  font-size: clamp(16px, 2.0833333333vw, 40px);
}

.work__link {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  color: transparent;
}

.work__image__container {
  overflow: hidden;
  border-radius: .5em;
  aspect-ratio: 1920/1080;
}

.work__link:hover {
  ~ .work__image__container {

    .work__image {
      transition: 200ms;
      transform: scale(1.5);
    }
  }
}

.work__image {
  transition: 200ms;
  width: 100%;

}

.work__infos {
  display: flex;
  justify-content: space-between;
}

.work__title, .work__date {
  margin-top: 1em;
}