.home__contact {
  position: absolute;
  transform-origin: 100% 0;
  transform: scaleY(0) translateY(100vh);

  margin-top: 10vh;
  padding: 3em;

  font-family: $fonts;

  background: $white;
  border-radius: 1em 1em 0 0;

  animation-name: contact;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

.home__contact__title {
  font-size: clamp(24px, 3.333vw, 64px);
}

.home__contact__form {
  display: grid;
  gap: 1.5em;
  margin-top: clamp(16px, 3.333vw, 64px);


}

.home__contact__form__field, .home__contact__form__actions {
  display: grid;
  gap: .5em;
}

.home__contact__form__field__label {
  font-size: clamp(16px, 2.0833333333vw, 40px);
}

.home__contact__form__field__input, .home__contact__form__field__textarea {
  padding: .5em;

  font-size: 1rem;

  border: 2px solid $black;
  border-radius: .5em;
  outline: none;

  &:focus {
    border: 2px solid $accent;

  }
}

.home__contact__form__send {
  display: inline-block;
  width: clamp(64px, 70%, 128px);
  aspect-ratio: 1/1;
  align-self: center;
  justify-self: center;

  color: transparent;
  background: url($images + 'send_button.png') no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.home__contact__direct-email {
  margin-top: 3em;
  font-size: clamp(16px, 2.0833333333vw, 40px);
  text-align: right;

  a {
    color: $accent;
  }
}

@media screen and (min-width: 700px) {
  .home__contact__form {
    grid-template: max-content / repeat(4, 1fr);
  }

  .fullname__field {
    grid-column: 1/3;
  }

  .email__field {
    grid-column: 3/5;
  }

  .message__field {
    grid-column: 1/4;
  }
}

@keyframes contact {
  0% {
    position: relative;
    transform: scaleY(1) translateY(100vh);
  }
  100% {
    position: relative;
    transform: scaleY(1) translateY(0);
  }
}