.home__introduction {
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 10;

  font-family: $fonts;
  font-size: clamp(40px, 4.5833333333vw, 88px);

  background: white;
}

.home__introduction__text1, .home__introduction__text2, .home__introduction__text3 {
  width: clamp(256px, 40vw, 768px);
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.home__introduction__text1 {
  transform-origin: 100% 0;
  animation-name: introduction_text1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.home__introduction__text2 {
  color: transparent;
  transform-origin: 0 100%;
  animation-name: introduction_text2;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.home__introduction__text3 {
  color: transparent;
  transform-origin: 0 100%;
  animation-name: introduction_text3;
  animation-duration: 3s;
  animation-delay: 3.9s;
  animation-fill-mode: forwards;
}

.home__introduction {
  animation-name: introduction;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

@keyframes introduction_text1 {
  0% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes introduction_text2 {
  0% {
    transform: scaleY(0);
    color: black;
  }
  25% {
    transform: scaleY(1);
    color: black;
  }
  75% {
    transform-origin: 100% 0;
    transform: scaleY(1);
    color: black;
  }
  100% {
    transform-origin: 100% 0;
    transform: scaleY(0);
    color: black;
  }
}

@keyframes introduction_text3 {
  0% {
    transform: scaleY(0);
    color: black;
  }
  25% {
    transform: scaleY(1);
    color: black;
  }
  75% {
    transform-origin: 100% 0;
    transform: scaleY(1);
    color: black;
  }
  100% {
    transform-origin: 100% 0;
    transform: scale(1);
    color: black;
  }
}

@keyframes introduction {
  100% {
    transform: translateY(-100vh);
  }
}