.home__introduction {
  display: grid;
  font-family: $fonts;
  background: $white;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-items: center;

  * {
    grid-area: 1/-1/1/-1;
    width: clamp(130px, 35vw, 400px);
    font-size: clamp(1.5rem, 4.1666666667vw, 2.5rem);
  }

  .home__introduction__text1 {
    opacity: 0;
    animation: fadeinout 7s ease infinite;
  }

  .home__introduction__text2 {
    opacity: 0;
    animation: fadeinout 7s 2.3s ease infinite;
  }

  .home__introduction__text3 {
    opacity: 0;
    animation: fadeinout 7s 4.6s ease infinite;
  }

  .scroll__indicator {
    position: absolute;
    top: 30vh;
    left: 47%;
    z-index: 10;
    margin-top: 30vh;
    min-width: clamp(16px, 5vw, 40px);

    svg {
      width: clamp(16px, 3vw, 40px);

      animation: movecircle 2000ms infinite ease-in-out;
    }
  }


}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes movecircle {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(80px);
    opacity: 0;
  }
}

@media screen and (orientation: landscape) and (max-height: 800px) {
  .home__introduction__text1, .home__introduction__text2, .home__introduction__text3, .scroll__indicator {
    transform: translateY(-10vh);
  }
}

#js {
  .home__introduction {
    position: fixed;
    z-index: -1;

    .home__introduction__text1, .home__introduction__text2, .home__introduction__text3 {
      animation: none;
      position: fixed;
      top: 45vh;
      left: calc(50vw - clamp(130px, 35vw, 400px) / 2);
    }

    .scroll__indicator {
      position: fixed;
    }
  }
}

