.home__main__latest-work {
  display: grid;
  gap: 5vh;
  width: 80vw;

  font-family: $fonts;
}

.home__main__latest-work__title {
  font-size: clamp(24px, 3.33333333vw, 64px);
}

.home__main__latest-work__more {
  width: clamp(128px, 12.5vw, 240px);
  aspect-ratio: 1/1;
  justify-self: center;
  align-self: center;

  background-image: url($images + 'more_works_button.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;

  &:hover {
    background-image: url($images + 'more_works_button_hover.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    animation-name: more_rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@media screen and (min-width: 700px) {

  .home__main__latest-work {
    grid-template-columns: repeat(2, max-content);
    width: max-content;
  }

  .home__main__latest-work__title {
    grid-column: 1/-1;
  }
}

@keyframes more_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}