.home__main {
  position: absolute;
  transform-origin: 100% 0;
  transform: scaleY(0) translateY(100vh);
  padding: 35vh 0 2em;

  background: $black;
  animation-name: main;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

.home__main__about {
  width: 80%;
  margin: 0 auto;

  font-family: $fonts;
  color: $white;
}

.home__main__about__title {
  font-size: clamp(24px, 4.5833333333vw, 88px);
}

.home__main__title__emoji__container {
  display: inline-grid;
}

.home__main__title__emoji {
  transform: translateY(.25em);
  align-self: center;
  justify-self: center;
  width: 1em;
}

.home__main__about__subtitle {
  display: inline-block;
  margin: 1em 0;

  font-size: clamp(16px, 1.6666666667vw, 32px);
  text-decoration: underline;

  &:hover {
    color: $accent;
  }
}

@keyframes main {
  0% {
    position: relative;
    transform: scaleY(1) translateY(100vh);
  }
  100% {
    position: relative;
    transform: scaleY(1) translateY(0);
  }
}